<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:if="${visitor != null}">
        <title th:text="${visitor} + ', ' + 'I hope you are interested to hire me'" > </title>
    </div>
    <!-- ELSE -->
    <div th:if="${visitor == null}">
        <title> This is my CV </title>
    </div>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.min.css" rel="stylesheet">
    <link href="css/form-style-4.css" rel="stylesheet">
</head>
<body id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Start Bootstrap</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-3" src="img/profile.jpeg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="form">
        <form class="form-style-4">
            <label for="visitor">
                <span>Hi there! What's your name?</span>
                <input class="guest-name" type="text" name="visitor" required="true" />
            </label>
        </form>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">Vincentius Aditya
                <span class="text-primary">Sundjaja</span>
            </h1>
            <div class="subheading mb-5">Palm Merah 1 Street, Block BL/32, Sector 1.3, BSD, South Tangerang ·
                (021) 5381011 · +62-87888893775 ·
                <a href="mailto:vasundjaja@email.com">vasundjaja@email.com</a>
                <div class="subheading mb-4">Born in Palembang, 19 Augusts 1998</div>
            </div>

            <p class="mb-5">I am currently taking Advanced Programming Course and I did this web page to satisfy
                the problems in lab-5.</p>
            <p class="mb-5">Hopefully I can do well in this course and pass it with flying colors.</p>

            <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/vincentius.sundjaja">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/vincentius_a">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/vincentiusadityas/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://gitlab.com/vasundjaja">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/vincentiusadityas">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Web Design and Programming</h3>
                    <div class="subheading mb-3">3rd Semester</div>
                    <p>Learning web design and programming using Python and Django as the framework. Also learned
                       about Javascript and css.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2017 - December 2017</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Data Structure and Algorithm</h3>
                    <div class="subheading mb-3">3rd semester</div>
                    <p>Learning data structures and algorithm or the object-oriented programming of Java.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2017 - December 2017</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Programming Foundation</h3>
                    <div class="subheading mb-3">1st and 2nd semester</div>
                    <p>Learning the foundation of programming with Python and Java.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2016 - June 2017</span>
                </div>
            </div>

        </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">University of Indonesia</h3>
                    <div class="subheading mb-3">Sarjana Komputer</div>
                    <div>Computer Science</div>
                    <p>GPA: -</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2016 - now</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Santa Ursula BSD High School</h3>
                    <div class="subheading mb-3">Science Program</div>
                    <p>GPA: -</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2014 - May 2016</span>
                </div>
            </div>

        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline list-icons">
                <li class="list-inline-item">
                    <i class="devicons devicons-java"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-python"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-css3"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-javascript"></i>
                </li>
                <li class="list-inline-item">
                    <i class="devicons devicons-jquery"></i>
                </li>
            </ul>

            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Nothing
                </li>
            </ul>
        </div>
    </section>

</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>

</body>
<!--<body>-->
<!--<p>Get your greeting <a href="/greeting?name=HEHE">here</a></p>-->
<!--</body>-->
</html>
